.ourclass {
  padding: 45px 15px;
  &__list {
    padding-top: 25px;
  }
  &__item {
    max-width: 100%;
    margin-bottom: 25px;
    &:nth-child(1) .ourclass__title {
      background: $color-radical-red;
    }
    &:nth-child(2) .ourclass__title {
      background: $color-purple-heart;
    }
    &:nth-child(3) .ourclass__title {
      background: $color-pastel-green;
    }
    &:nth-child(1) .ourclass__about:hover {
      border: 1px solid $color-radical-red;
    }
    &:nth-child(2) .ourclass__about:hover {
      border: 1px solid $color-purple-heart;
    }
    &:nth-child(3) .ourclass__about:hover {
      border: 1px solid $color-pastel-green;
    }
  }

  &__img {
    text-align: center;
    margin: 0 auto;
    &--width {
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      max-width: 100%;
      height: auto;
    }
  }
  &__about {
    text-align: center;
    border: 1px solid $color-mercury;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin: 0 auto;
    transition: 0.4s;
    // &:hover  {
    //   border: 1px solid $color-radical-red;
    // }
  }
  &__title {
    font-family: "Dosis";
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 0;
    margin: 0;
  }
  &__sub {
    transition: 0.2s;
    padding: 5px 0;
    .aboutsub__title {
      font-family: "Dosis";
      font-weight: 700;
      font-size: 18px;
      margin: 0;
    }
    .aboutsub__content {
      font-family: "Open Sans";
      font-size: 14px;
      margin: 0;
    }

    &:last-child {
      border-radius: 50px;
    }
  }
}
@media only all and (min-width: 768px) {
  .ourclass {
    padding: 65px 0;
    &__item {
      padding: 0 10px;
      margin-bottom: 0px;
    }
    &__itemsub {
      padding: 25px;
    }
    &__title {
      font-size: 20px;
    }
    &__sub {
      padding: 0 10px;
      max-width: 120px;
      .aboutsub__title {
        font-size: 14px;
      }
      .aboutsub__content {
        font-size: 12px;
      }
      &:nth-child(2) {
        border-left: 1px solid $color-mercury;
        border-right: 1px solid $color-mercury;
      }
    }
  }
}
@media only all and (min-width: 960px) {
  .ourclass {
    padding: 130px 0;
    &__item {
      padding: 0 15px;
    }
    &__itemsub {
      padding: 30px;
    }
    &__title {
      font-size: 24px;
    }
    &__sub {
      padding: 0 15px;
      .aboutsub__title {
        font-size: 20px;
      }
      .aboutsub__content {
        font-size: 14px;
      }
    }
  }
}
