.introduction {
  &__title {
    font-family: "Dosis", sans-serif;
    font-size: 28px;
    color: black;
    font-weight: bold;
    &--color {
      color: white;
    }
  }
  &__content {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 14px;
    padding: 10px 0;
    &--color {
      color: $color-mountain-mist;
    }
  }
  &--center {
    text-align: center;
  }
  &__img {
    padding: 10px 0;
  }
}
@media only all and (min-width: 786px) and (max-width: 960px) {
  .introduction {
    &__title {
      font-size: 28px;
      &--width {
        font-size: 30px;
        max-width: 360px;
      }
    }
    &__content {
      font-size: 13px;
      max-width: 473px;
      margin: 0 auto;
      &--width {
        font-size: 15px;
        max-width: 560px;
      }
    }
  }
}
@media only all and (min-width: 960px) {
  .introduction {
    &__title {
      font-size: 50px;
      &--width {
        font-size: 65px;
        max-width: 680px;
      }
    }
    &__content {
      font-size: 15px;
      max-width: 568px;
      margin: 0 auto;
      &--width {
        font-size: 18px;
        max-width: 680px;
        margin: 0;
      }
    }
  }
}
