.introduction {
  // &:first-child .introduction__title::before{
  //   left:0;
  // }
  &__title {
    position: relative;
    font-family: "Dosis", sans-serif;
    font-size: 28px;
    color: black;
    font-weight: bold;
    margin-bottom: 50px;
    z-index: -1;
    // background-image: url("../images/block/mt-1579-home-divider.png");
    &::before {
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);
      width: 64px;
      height: 17px;
      content: "";
      background-image: url("../images/block/mt-1579-home-divider.png");
    }
    &--color {
      color: white;
      &::before {
        background-image: url("../images/block/mt-1579-home-divider1.png");
      }
    }
    &--width {
      &::before {
        left: 0;
        transform: translateX(0);
      }
    }
  }

  &__content {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 14px;
    padding: 10px 0;
    &--color {
      color: $color-mountain-mist;
    }
  }
  &--center {
    text-align: center;
  }
  &__img {
    padding: 10px 0;
  }
}
@media only all and (min-width: 768px) {
  .introduction {
    &__title {
      font-size: 28px;
      &--width {
        font-size: 30px;
        max-width: 360px;
      }
    }
    &__content {
      font-size: 13px;
      max-width: 473px;
      margin: 0 auto;

      &--width {
        margin: 0;
        font-size: 15px;
        max-width: 560px;
      }
    }
  }
}
@media only all and (min-width: 960px) {
  .introduction {
    &__title {
      font-size: 50px;
      &--width {
        font-size: 65px;
        max-width: 680px;
      }
    }
    &__content {
      font-size: 15px;
      max-width: 568px;
      &--width {
        font-size: 18px;
        max-width: 680px;
      }
    }
  }
}
