.footer {
  &__list {
  padding: 15px;

    color: #ffffff;
    background: #000;
  }
  &__sub {
    margin-bottom: 30px;
  }
  &__title {
    font-size: 20px;
    padding: 10px 0;
  }
  &__content {
    font-size: 14px;
    line-height: 1.5;
    &--about {
      // list-style-image: 5px;
      margin-bottom: 8px;
    }
  }
  &__time {
  }
  &__dayjob {
    list-style-type: none;
  }
  &__day {
  }
  &__hour {
    font-weight: bold;
  }
  &__icon {
    font-size: 10px;
    color: $color-radical-red;
    margin-right: 10px;
  }
  &__bottom {
    background: $color-purple-heart;
    padding: 10px 15px;
    color: #ffffff
  }
  .social{
    &__items{
      margin-right: 8px;
    }
  }
}
@media only all and (min-width: 786px) and (max-width: 960px) {
}
@media only all and (min-width: 960px) {

}
@media only all and (min-width: 786px) {
  .footer {
    .social{
      &__items{
        margin-left: 8px;
      }
    }
  }

}
