.header__contact {
  font-size: 14px;
  padding: 0 15px;
  .contacts__list {
  }
  .contacts__item {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    color: #ffffff;
  }
  .contacts__info {
    line-height: 0;
    margin: 0;
    color: #ffffff;
  }
  .contact__icons {
    margin-right: 10px;
  }
  .social {
    &__items {
      margin-right: 8px;
    }
  }
}
@media only all and (min-width: 786px) and (max-width: 960px) {
}
@media only all and (min-width: 960px) {
}
@media only all and (min-width: 786px) {
  .header__contact {
    padding: 0;
    .social {
      &__items {
        margin: 0 0 0 8px;
      }
    }
  }
}
