.header__menu {
  padding-left: 15px;
  padding-right: 15px;
  .navbar-pd {
    padding: 0 15px;
    // padding: 13px 20px;
    .nav-link-pd {
      @include font-sizes(17, 24);
      color: #000;
      font-weight: 500;
      padding: 10px 0;
      &:hover {
        color: $color-radical-red;
      }
    }
  }
}

@media only all and (min-width: 786px) {
  .header__menu {
    .navbar-pd {
      padding: 0;
      .nav-link-pd {
        padding: 0;
      }
    }
  }
}
@media only all and (min-width: 960px) {
  // max-width: 1200px;
}
