.feedback {
  display: flex;
  flex-direction: column;
  &__input {
    margin-bottom: 15px;
  }
  &__submit {
    margin-top: 10px;
    align-self: flex-end;
  }
}

@media only all and (min-width: 768px) {
}
@media only all and (min-width: 960px) {
}
