.footer {
  &__list {
  }
}

@media only all and (min-width: 786px) {
  .footer {
    max-width: 1200px;
    margin: 0 auto;
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__sub {
      max-width: 268px;
    }
  }
  .footer__bottom {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media only all and (min-width: 960px) {
}
