.ourteachers {
  padding: 45px 15px;
  &__items {
    position: relative;
    width: auto;
    height: 380px;
    &:nth-child(1) .ourteachers__about {
      background: $color-radical-red;
    }
    &:nth-child(2) .ourteachers__about {
      background: $color-purple-heart;
    }
    &:nth-child(3) .ourteachers__about {
      background: $color-pastel-green;
    }
    &:nth-child(4) .ourteachers__about {
      background: $color-picton-blue;
    }
  }

  &__img {
    border-radius: 40px;
    width: 100%;
    height: 100%;
  }
  &__about {
    position: absolute;
    top: 270px;
    right: 0px;
    width: 70%;
    color: #ffffff;
    padding: 10px 20px;
  }
  &__name {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
  }
  &__position {
    font-size: 14px;
    margin: 0;
  }
}
@media only all and (min-width: 768px) {
  .ourteachers {
    padding: 65px 0px;
    &__items {
      padding: 0 10px;
    }
    &__about {
      right: 10px;
    }
    &__list {
      padding-top: 35px;
    }
    &__name {
      font-size: 14px;
      line-height: 1.2;
    }
    &__position {
      font-size: 12px;
    }
  }
}
@media only all and (min-width: 960px) {
  .ourteachers {
    padding: 130px 15px;
    &__list {
      padding-top: 60px;
    }
    &__name {
      font-size: 20px;
    }
    &__position {
      font-size: 14px;
    }
  }
}
