.question {
  padding: 45px 15px;
  .accordion--width {
  }
  .card-modify {
    margin-bottom: 30px;
  }
  &__img--position {
    width: 100%;
    height: auto;
  }
}

@media only all and (min-width: 768px) {
  .question {
    max-width: 1200px;
    margin: 0 auto;
    padding: 65px 15px;
    .accordion--width {
      flex-grow: 1;
      width: 100%;
    }
    &__img {
      flex-grow: 1;
      width: 100%;
      &--position {
        width: 100%;
        height: auto;
      }
    }

    &__item {
      display: flex;
      // justify-content: space-between;
      margin-top: 35px;
    }
  }
}

@media only all and (min-width: 960px) {
  .question {
    padding: 130px 15px;
    &__item {
      margin-top: 60px;
    }
  }
}
