.full-screen-ourclass {
}
.ourclass {
}

@media only all and (min-width: 786px) {
  .ourclass {
    max-width: 1200px;
    margin: 0 auto;
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__itemsub {
      display: flex;
      justify-content: center;
      // justify-content: space-between;
    }
  }
}
@media only all and (min-width: 960px) {
}
