.full-screen-testimonials {
  background-color: $color-blueviolet;
  background-image: url("../images/mt-1579-home-parallax3.png");
}
.testimonials {
  padding: 55px 15px;
  &__items {
    display: flex;
    margin-top: 25px;
    .avatar__img {
      margin: 0 auto;
    }
  }
  &__about {
    max-width: 500px;
  }
  &__qoute {
    margin-bottom: 22px;
  }
  &__citation {
    .citation__name {
      margin: 0;
    }
    .citation__position {
      margin: 0;
    }
  }
}
@media only all and (min-width: 786px) and (max-width: 960px) {
}
@media only all and (min-width: 960px) {
}
@media only all and (min-width: 786px) {
  .testimonials {
    max-width: 1200px;
    margin: 0 auto;
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__items:nth-child(2) {
      margin-left:30px;
      margin-right:30px;
    }
  }
}
