.contact {
  &__list {
    width: 100%;
  }
  &__width {
    width: auto;
    height: 100%;
    padding: 30px;
    background: $color-radical-red;
  }
  &__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 400px;
  }
  &__items {
    display: flex;
  }
  &__info {
    display: block;
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    .feedback__input {
      margin-bottom: 15px;
    }
    .feedback__submit {
      align-self: flex-end;
    }
  }
}

@media only all and (min-width: 786px) {
  .contact {
    &__list {
      padding: 0 85px;
    }
    &__width {
      display: flex;
      margin: 60px 10px 0 10px;
      justify-content: center;
      align-items: center;
    }
    max-width: 1200px;
    margin: 0 auto;
    .feedback {
      width: 100%;
      margin: 60px 10px 0 10px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }
}
@media only all and (min-width: 960px) {
  .contact {
    &__list {
      padding: 0 100px;
    }
    &__width {
      height: auto;
    }
    .feedback {
      height: auto;
    }
  }
}
