.ourteachers {
  width: 100%;
}

@media only all and (min-width: 960px) {
}
@media only all and (min-width: 768px) {
  .ourteachers {
    max-width: 1200px;
    margin: 0 auto;
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }
}
