.full-screen-top {
  background: $color-purple-heart;
}

.header__menu {
  position: sticky;
  top: 0;
}
.header__contact {
  margin: 0 auto;
}
.contacts__info {
  display: inline-block;
}

@media only all and (min-width: 786px) {
  .header__contact {
    max-width: 1200px;
    display: flex;
    .social--position {
      text-align: end;
    }
    .contacts__list {
      display: flex;
      justify-content: space-between;
    }
  }
}
@media only all and (min-width: 960px) {
}
